.btn {
  border-radius: 7px;
  color: white;
  border: 0px;
  font-size: small;
  padding: 0.5rem 1rem;
}

.btn:hover {
  color: white;
}

.complete {
  background-color: #007bff;
}

.incomplete {
  background-color: #ff1500;
}
